.contact-page-wrapper {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.text-primary {
    color: #D32F2F !important;
}

.form-control:focus {
    border-color: #D32F2F;
    box-shadow: 0 0 0 0.25rem rgba(211, 47, 47, 0.25);
}

.btn-primary {
    background-color: #D32F2F;
    border-color: #D32F2F;
}

.btn-primary:hover {
    background-color: #b71c1c;
    border-color: #b71c1c;
}

/*Esta parte investigue y al momento de entrar al input, la etiqueta se hace más pequeña*/
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    color: #D32F2F;
}