<div class="main-wrapper" id="inicio">
    <app-nav></app-nav>

    <div class="content-overlay">
        <div class="container py-5">

            <!-- HICE EN SECCIONES -->
            <!--AQuí está la tienda-->
            <section class="mb-5">
                <h1 class="text-center mb-4 display-4 fw-bold text-white section-header">
                    Tiendas más Populares
                </h1>
                <div class="carousel-wrapper">
                    <app-art1></app-art1>
                </div>
            </section>

            <!-- Aquí esta los espacios disponibles -->
            <section class="mb-5">
                <h1 class="text-center mb-4 display-4 fw-bold text-white section-header">
                    Espacios Disponibles
                </h1>
                <div class="carousel-wrapper">
                    <app-art2></app-art2>
                </div>
            </section>

        </div>
    </div>

    <app-foot></app-foot>
</div>