<footer class="custom-footer text-white py-4">
    <div class="container">
        <div class="row align-items-center">

            <!-- LOGO -->
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <img src="assets/img/logo.png" alt="CCI Logo" class="footer-logo me-2">
                    <span class="fw-bold">CCI</span>
                </div>
            </div>

            <!-- LINKS  -->
            <div class="col-md-6 text-center">
                <a href="#inicio" class="footer-link mx-2">Inicio</a>
                <a routerLink="/tienda" class="footer-link mx-2">Tiendas</a>
                <a routerLink="/crud" class="footer-link mx-2">CRUD</a>
                <a routerLink="/contact" class="footer-link mx-2">Contacto</a>
            </div>

            <!-- REDES SOCIALES -->
            <div class="col-md-3 text-end">
                <a href="https://www.facebook.com/?locale=es_LA" class="social-icon-wrapper">
                    <img src="assets/redes/fb.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://www.instagram.com/" class="social-icon-wrapper">
                    <img src="assets/redes/ig.png" alt="Instagram" class="social-icon">
                </a>
                <a href="https://x.com/home?lang=es" class="social-icon-wrapper">
                    <img src="assets/redes/x.png" alt="X" class="social-icon">
                </a>
                <a href="https://github.com/AlejandroJonnath" class="social-icon-wrapper">
                    <img src="assets/redes/github.png" alt="GitHub" class="social-icon">
                </a>
            </div>

        </div>

        <!-- Copyright -->
        <div class="row mt-3">
            <div class="col-12 text-center">
                <small>© 2025 Centro Comercial Iñaquito. Todos los derechos reservados.</small>
            </div>
        </div>
    </div>
</footer>